.tabs {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.tabs .button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Rubik", sans-serif;
  text-decoration: none;

  text-align: center;
  color: black;
  font-weight: 500;
  font-size: calc(0.4vw + 0.7rem);
  background-color: #f0f0f0;
  padding: 1em 2em;
  border: none;
  outline: none;
  cursor: pointer;
}
.tabs .active {
  background-color: #6bf178;
  border: none;

  outline: none;
  cursor: pointer;
  text-align: center;
}
