.topbar {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  justify-content: space-around;
  align-items: center;
}
.topbar div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.topbar-left {
  text-align: center;
  padding: 1em;
  user-select: none;
}
.topbar-left h1 {
  font-size: calc(0.7vw + 1em);
  margin-bottom: 0.5rem;
}
.topbar-right h1 {
  text-align: center;
  font-size: calc(0.7vw + 0.8em);
  font-weight: 400;
}
