.add-task {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: calc(100vw - 40em);
  max-width: 400px;
  padding: 1em 6em;
  margin-top: 1rem;
}
.text-area .input {
  padding: 0.3rem 1rem;
  width: calc(10vw + 10em);
  max-width: 400px;
}

.add-task .button {
  display: flex;
  cursor: pointer;
  user-select: none;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 10px -5px rgb(133, 133, 133);
  border-radius: 9px;
  padding: 0.2rem;
  width: calc(5vw + 10em);
  max-width: 400px;
}
.add-task h1 {
  font-weight: 400;
  font-size: calc(1vw + 0.5em);
}
.add-icon {
  width: 5vmin;
  height: 5vmin;
}
