.home {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top: 2em;
}
header h1 {
  font-size: xx-large;
  text-align: center;
  margin-bottom: 10px;
}
header h3 {
  font-size: larger;
  text-align: center;
  margin-bottom: 3em;
}
