.main {
  display: flex;
}
.top {
  display: flex;
  justify-content: flex-end;
}

.h1,
.h2 {
  text-align: center;
  margin-right: 1rem;
  margin-top: 1rem;
  font-weight: 100;
  font-size: medium;
}
