.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  background-color: #ffffff;
}

.top {
  width: 100%;
  color: rgb(0, 0, 0);
  background-color: #ff5964;
}

.todo {
  margin-top: 2rem;
  border-radius: 2%;
  max-height: 40%;
  max-width: 80%;
  background-color: #fffffe;
  box-shadow: 0 0 1em rgba(0, 0, 0, 0.15);
}
