.signup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.signup-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 10px;
  max-width: 80%;
  text-align: center;
  box-shadow: 0 0 20px 5px rgb(216, 216, 216);
}

.signup-box .top {
  border-radius: 5px;
  background: #ffe74c;
  margin-bottom: 10px;
  padding-bottom: 3em;
}

.container {
  padding: 2em 5px;
  font-size: 80%;
}

.signup-box h2 {
  font-weight: 400;
  font-size: large;
  margin-top: 2rem;
}
.text,
.password {
  background-color: rgb(240, 240, 240);
  outline: none;
  width: 60%;
  padding: 12px 5px;
  margin: 8px 0;
  border-radius: 10px;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.signup-button {
  background: #ffe74c;
  font-family: "Rubik", sans-serif;
  color: rgb(0, 0, 0);
  font-weight: 500;
  padding: 1em 5em 1em 5em;

  margin: 8px 0;
  border-radius: 99px;
  border: none;
  cursor: pointer;
  width: 80%;
}

.back-button {
  margin-top: 1rem;
  width: 100%;
}
.back-icon {
  cursor: pointer;
  float: left;
  width: 4.5vmin;
  height: 4.5vmin;
}
.buttons {
  display: flex;
}
button:hover {
  opacity: 0.8;
}
@media screen and (max-width: 750px) {
  .signup-box {
    width: 15rem;
  }
  .signup-box h2 {
    font-size: 1rem;
  }
}
